body{
    background-color: black;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.button{
    overflow: hidden;
}
.button a{
    background-color: yellow;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 10px 8px 1px rgba(119, 160, 6, 0.9);
    border-radius: 15px;
    text-decoration: none;
    color: green;
    font-size: 150px;
    position: relative;
   
    
}
.button a::before{
    content: "";
    position: absolute;
    background-color: green;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s height .5s;
}

.button a:hover::before{
    width: 600px;
    height: 600px;
}